<section class="pr">
    <div class="container">
      <h1 class="down30">Proyectos</h1>
      <div class="proyectos">
        <div class="proyectos__contenedor">
  
          <div *ngFor="let proyecto of proyectoList" class="proyectos__items">
            <a href="#" target="blank"><img [src]="proyecto.img" alt="bastok proyecto web"></a>
            <h3 class="top20 down20">Porfolio Argentina Programa</h3>
            <h4>Tecnologías:</h4>
            <p class="green">{{proyecto.tecnologias}}</p>
            <p>{{proyecto.info}}</p>
          </div>
  
         
        </div>
      </div>
    </div>
  </section>