<section class="experiencias">

    <div class="container">
      <h1 class="down30">Experiencias</h1>
      <div class=" flex wrp">
  
        <div *ngFor="let experiencia of experienciasList" class="card_exp abs">
          <!-- <div class="btn_edit"><img src="img/btn_editar.png" alt=""></div> -->
          <img class="img_exp down20" [src]="experiencia.img" alt="">
          <h2 class="">{{experiencia.empresa}}</h2>
          <h4>{{experiencia.periodo}}</h4>
          <p class="top10">
            {{experiencia.tareas}}
          </p>
        </div>
  
        
  
      </div>
  
    </div>
  
  </section>