<section class="experiencias">

    <div class="container">
      <h1 class="down30">Experiencias</h1>
      <div class=" flex wrp">
  
        <div class="card_exp abs">
          <!-- <div class="btn_edit"><img src="img/btn_editar.png" alt=""></div> -->
          <img class="img_exp down20" src="img/alqubbo_logo.png" alt="">
          <h2 class="">Alqubbo</h2>
          <h4>Actualmente</h4>
          <p class="top10">
            - Diseño multimedia
            <br> - Diseño web
            <br> - Filmación + Edición de videos
            <br> - Fotografía y edición
          </p>
        </div>
  
        <div class="card_exp abs">
          <!-- <div class="btn_edit"><img src="img/btn_editar.png" alt=""></div> -->
          <img class="img_exp down20" src="img/bastok_log.png" alt="">
          <h2 class="">Bastok</h2>
          <h4>Actualmente</h4>
          <p>
            - Diseño multimedia
            <br> - Diseño web
            <br> - Filmación + Edición de videos
            <br> - Fotografía y edición
          </p>
        </div>
  
        <div class="card_exp abs">
          <!-- <div class="btn_edit"><img src="img/btn_editar.png" alt=""></div> -->
          <img class="img_exp down20" src="img/inti.jfif" alt="">
          <h2 class="">INTI</h2>
          <h4>2010 - 2018</h4>
          <p class="top10">
            - Diseño multimedia
            <br> - Diseño apps de realidad Aumentada
            <br> - 3d + Fx
            <br> - Edición de videos
          </p>
        </div>
  
        <div class="card_exp abs">
          <!-- <div class="btn_edit"><img src="img/btn_editar.png" alt=""></div> -->
          <img class="img_exp down20" src="img/logo.png" alt="">
          <h2 class="">Tribi Soft</h2>
          <h4>2008 - 2009</h4>
          <p class="top10">- Diseño multimedia
            <br> - Motion Graphics
            <br> - 3d + Fx
          </p>
        </div>
  
      </div>
  
    </div>
  
  </section>