<section class="educacion">

    <div class="container">
  
      <h1 class="down30">Educación</h1>
  
      <div class="edu down20">
        <img src="img/ar-prog_logo.png" alt="">
        <div class="info">
          <h3>Full Stack Developer Jr.</h3>
          <h4>Argentina Programa 2022-2023</h4>
  
          <p>Desarrollo una aplicación web full stack, que mostrará: tus datos personales, estudios cursados,
            experiencia laboral, conocimiento de las
            tecnologías y lo que se desee agregar. Esta aplicación cuenta con una
            arquitectura distribuida y contiene un
            diseño de interfaz de usuario (front end) que muestra la información, una base de datos que almacena los
            datos antes mencionados y cuenta
            con las APIs necesarias para proveer a través de internet la información (back end). </p>
        </div>
      </div>
  
      <div class="edu down20">
        <img src="img/3336_original.jpg" alt="">
        <div class="info">
          <h3>Desarrollador Web</h3>
          <h4>Coder House 2020-2021</h4>
  
          <p>Desarrollo web, trabajando con HTML y CSS. Implementando prácticas de versionado de código con GIT, y
            preprocesador SASS.
            Conocimientos de como aplicar Bootstrap a tus
            proyectos, lo importante del SEO en tus desarrollos. Subir sitios a servidores e interacciones con este
            servicio.</p>
        </div>
      </div>
  
      <div class="edu down20">
        <img src="img/davinci.png" alt="">
        <div class="info">
          <h3>Action Script 2</h3>
          <h4>Escuela Da Vinci 2010</h4>
  
          <p>Desarrollo web, trabajando con HTML y CSS. Implementando prácticas de versionado de código con GIT, y
            preprocesador SASS.
            Conocimientos de como aplicar Bootstrap a tus
            proyectos, lo importante del SEO en tus desarrollos. Subir sitios a servidores e interacciones con este
            servicio.</p>
        </div>
      </div>
  
    </div>
  
  </section>