<div class="bgbanner">
    <div class="container">
      <nav class="flex">
        <div class="logo">
          <ul class="flex">
            <li class="logo"><img src="assets/img/ar-prog_logo.png" alt="" /></li>
            <li class="titulo">Argentina Programa</li>
          </ul>
        </div>
    
        <div class="menu">
          <ul class="flex items">
            <li><a href="https://api.whatsapp.com/send?phone=3454013565" target="blank"><img src="assets/img/incon_wapp.png"
                  alt="" /></a></li>
            <li><a href="https://github.com/gaboqu" target="blank"><img src="assets/img/icon_git.png" alt="" /></a></li>
            <li class="btn_login"><a href="">login</a> </li>
          </ul>
        </div>
      </nav>
    </div>
    
    <section class="banner">
      <div class="container flex2" id="con">
        <div class="foto">
          <!-- <div class="btn_edit"><img src="img/btn_editar.png" alt=""></div> -->
          <img 
            [src]="persona[0].url_foto" 
            alt="Foto de perfil" 
          />
          <!-- <img src="../../../assets/img/perfil_foto.png" alt=""> -->
        </div>
        <div class="acercaDe top20" id="con2">
          <!-- <div class="btn_edit"><img src="img/btn_editar.png" alt=""></div> -->
          <h3 class="abs">Hola soy <b>{{persona[0].nombre}}</b></h3>
          <!-- <div class="btn_edit"><img src="img/btn_editar.png" alt=""></div>  -->
          <ngx-typed-js [strings]="[persona[0].frase1, persona[0].frase2]"
           
            [typeSpeed]="35"
            [startDelay]="0"
            [backSpeed]="25"
            [smartBackspace]="true"
            [shuffle]="false"
            [backDelay]="2500"
            [loop]="true"
            [showCursor]="false"
            [cursorChar]="'_'"
            [contentType]="'html'"
            >
            <h1 class="typing  typ"></h1>
          </ngx-typed-js>

          <p class="pBanner">
            {{persona[0].descripcion}}
          </p>
        </div>
      </div>
    </section>
  </div>