<div class="bgbanner">
    <div class="container">
      <nav class="flex">
        <div class="logo">
          <ul class="flex">
            <li class="logo"><img src="assets/img/ar-prog_logo.png" alt="" /></li>
            <li class="titulo">Argentina Programa</li>
          </ul>
        </div>
    
        <div class="menu">
          <ul class="flex items">
            <li><a href="https://api.whatsapp.com/send?phone=3454013565" target="blank"><img src="assets/img/incon_wapp.png"
                  alt="" /></a></li>
            <li><a href="https://github.com/gaboqu" target="blank"><img src="assets/img/icon_git.png" alt="" /></a></li>
            <li class="btn_login"><a href="login.html">login</a> </li>
          </ul>
        </div>
      </nav>
    </div>
    
    <section class="banner">
      <div class="container flex2" id="con">
        <div class="foto">
          <!-- <div class="btn_edit"><img src="img/btn_editar.png" alt=""></div> -->
          <img 
            [src]="miPorfolio.acercaDe.image" 
            alt="Foto de perfil" 
          />
        </div>
        <div class="acercaDe top20" id="con2">
          <!-- <div class="btn_edit"><img src="img/btn_editar.png" alt=""></div> -->
          <h3 class="abs">Hola soy <b>{{miPorfolio.acercaDe.name}}</b></h3>
          <!-- <div class="btn_edit"><img src="img/btn_editar.png" alt=""></div>  -->
          <h1 class="typ">
            <span class=" typed"></span>
          </h1>
          <!-- <div class="btn_edit abs"><img src="img/btn_editar.png" alt=""></div> -->
          <p class="pBanner">
            {{miPorfolio.acercaDe.info}}
          </p>
        </div>
      </div>
    </section>
  </div>