
<div class="signupFrm">
    <form action="" class="form">

       <div class="flex ">
         
         <h2 class="down30 top20">Login</h2>

         <div class="logo2">
            <a href="index.html"><img src="img/ar-prog_logo.png" alt=""></a>
        </div>
        
       </div>

        <div class="inputContainer">
            <input type="text" class="input" placeholder="a">
            <label for="" class="label">Email</label>
        </div>

        <div class="inputContainer">
            <input type="text" class="input" placeholder="a">
            <label for="" class="label">Contraseña</label>
        </div>


        <input type="submit" class="submitBtn" value="Ingresar">
    </form>
</div>